@*@model Customer
*@
<header class="main-header">
	<div class="layers">
		<div class="layer__header">
			<div class="layers__caption">
				Welcome to the quest
			</div>
			<div class="layers__title">
				Lost in the forest
			</div>
		</div>
		<div class="layer layers__base" style="background-image:url(img/layer-base.png)"></div>
		<div class="layer layers__middle" style="background-image:url(img/layer-middle.png)"></div>
		<div class="layer layers__front" style="background-image:url(img/layer-front.png)"></div>
	</div>
</header>

<article class="main-article" style="background-image:url(img/dungeon.jpg)">
	<div class="main-article__content">
		<h2 class="main-article__header">
			Feedback form
		</h2>
		<p class="main-article__paragraph">
			Leave your contacts information and we'll call you
		</p>

		<form method="post" asp-action="AddContacts">
			<div class="main-article__form">
				<input asp-for="Name" class="main-article__input" />
				<input asp-for="Phone" class="main-article__input" />
				<input asp-for="Email" class="main-article__input" />
				<button type="submit" class="main-article__button">Send</button>
			</div>
		</form>
	</div>
</article>